@import url("./config/base.css");

/**************************************************
 * Text Fields
**************************************************/
.mfx-text-field {
    -fx-min-width: 130;
    -fx-font-family: 'Visby Round CF Medium';
}

.mfx-combo-box:focus-within,
.mfx-text-field:focus-within,
.mfx-password-field:focus-within {
    -fx-border-color: -cps-blue;
}

.mfx-combo-box:focus-within .caret {
    -fx-stroke: -cps-blue;
}
.mfx-combo-box .combo-popup .virtual-flow .mfx-combo-box-cell:focus-within {
    -fx-background-color: -cps-blue;
}

.mfx-text-field .floating-text {
    -fx-font-family: 'Visby Round CF Medium';
}

#emailField:focus-within .floating-text {
    -fx-text-fill: -cps-blue;
}

#passwordField:focus-within .floating-text {
    -fx-text-fill: -cps-blue;
}
