/* ------------------------------------------------------------------------------------------------ */
/* ---- Global Component Style - Body ------------------------------------------------------------- */

@import "../../config/CustomProperties.less";
@import "../../config/ColorSchemes.less";

.body {
    .body-container {
        -fx-max-width: @app-max-width;
        -fx-padding: @spacing-3xl @spacing-xl;
    }

    .body-text {
        -fx-font-family: @font-family-body;
    }
}

.theme-light {
    .body {
        -fx-background-color: @light-body-bg-color;

        .body-text {
            -fx-text-fill: @light-body-text-color;
            -fx-fill: @light-body-text-color;

            &.dim {
                -fx-text-fill: @light-body-text-color-dim;
                -fx-fill: @light-body-text-color-dim;
            }

            &.emp {
                -fx-text-fill: @light-body-text-color-emp;
                -fx-fill: @light-body-text-color-emp;
            }

            &.disabled {
                -fx-text-fill: @light-body-text-color-disabled;
                -fx-fill: @light-body-text-color-disabled;
            }
        }

        .body-shape {
            -fx-stroke: @light-body-text-color;
            -fx-fill: @light-body-text-color;

            &.dim {
                -fx-stroke: @light-body-text-color-dim;
                -fx-fill: @light-body-text-color-dim;
            }

            &.emp {
                -fx-stroke: @light-body-text-color-emp;
                -fx-fill: @light-body-text-color-emp;
            }

            &.disabled {
                -fx-stroke: @light-body-text-color-disabled;
                -fx-fill: @light-body-text-color-disabled;
            }
        }
    }
}

.theme-dark {
    .body {
        -fx-background-color: @dark-body-bg-color;

        .body-text {
            -fx-text-fill: @dark-body-text-color;
            -fx-fill: @dark-body-text-color;

            &.dim {
                -fx-text-fill: @dark-body-text-color-dim;
                -fx-fill: @dark-body-text-color-dim;
            }

            &.emp {
                -fx-text-fill: @dark-body-text-color-emp;
                -fx-fill: @dark-body-text-color-emp;
            }

            &.disabled {
                -fx-text-fill: @dark-body-text-color-disabled;
                -fx-fill: @dark-body-text-color-disabled;
            }
        }

        .body-shape {
            -fx-stroke: @dark-body-text-color;
            -fx-fill: @dark-body-text-color;

            &.dim {
                -fx-stroke: @dark-body-text-color-dim;
                -fx-fill: @dark-body-text-color-dim;
            }

            &.emp {
                -fx-stroke: @dark-body-text-color-emp;
                -fx-fill: @dark-body-text-color-emp;
            }

            &.disabled {
                -fx-stroke: @dark-body-text-color-disabled;
                -fx-fill: @dark-body-text-color-disabled;
            }
        }
    }
}




/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */