/* ------------------------------------------------------------------------------------------------ */
/* ---- Global MaterialFX Custom Styles ----------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------ */
/* ---- Global LESS Custom Properties ------------------------------------------------------------- */
/* ----- Spacings --------------------------------------------------- */
/* ----- Breakpoints ------------------------------------------------ */
/* ----- Typography ------------------------------------------------- */
/* ----- Border Radius ---------------------------------------------- */
/* ----- Color Pallet ----------------------------------------------- */
/* ----- Shadows ---------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */
/* ---- Application Color Schemes ----------------------------------------------------------------- */
/* ----- General Colors --------------------------------------------- */
/* ----- Light Color Scheme ----------------------------------------- */
/* - App Colors - */
/* - Components Colors - */
/* Buttons */
/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */
* {
  -mfx-blue: #2196f3 !important;
  -mfx-charcoal: #32383f !important;
  -mfx-green: #4caf50 !important;
  -mfx-onyx: #25262b !important;
  -mfx-orange: #ff9800 !important;
  -mfx-purple: #2196f3 !important;
  -mfx-red: #f44336 !important;
  -mfx-yellow: #ffeb3b !important;
  -mfx-text-he: #32383f !important;
  /* High Emphasis */
  -mfx-text-me: #57606a !important;
  /* Medium Emphasis */
  -mfx-text-disabled: #afb8c1 !important;
  /* Disabled */
}
.mfx-text-field,
.mfx-password-field {
  -fx-background-radius: 16px !important;
  -fx-border-radius: 16px !important;
  -fx-padding: 0.4em 0.8em !important;
}
.mfx-text-field .floating-text,
.mfx-password-field .floating-text {
  -fx-padding: 0 2 0 2;
}
.mfx-password-field .mfx-icon-wrapper {
  -fx-cursor: hand;
}
.mfx-checkbox {
  -mfx-main: #2196f3 !important;
  -mfx-secondary: #57606a !important;
  -fx-font-family: 'Poppins', system-ui, -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Ubuntu', 'Bitstream Vera Sans', 'Liberation Sans', Arial, sans-serif !important;
  -fx-text-fill: #424a53 !important;
  -fx-cursor: hand !important;
}
.mfx-checkbox .box .mark {
  -mfx-color: white;
}
.mfx-checkbox .ripple-container .mfx-ripple-generator {
  -mfx-ripple-color: rgba(0, 0, 0, 0.2);
}
.mfx-checkbox:selected .box,
.mfx-checkbox:indeterminate .box {
  -fx-background-color: -mfx-main;
  -fx-border-color: -mfx-main;
}
.mfx-checkbox:selected:disabled .box,
.mfx-checkbox:indeterminate:disabled .box {
  -fx-background-color: #afb8c1;
  -fx-border-color: #afb8c1;
}
/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */

