/* ------------------------------------------------------------------------------------------------ */
/* ---- Global CSS Typography --------------------------------------------------------------------- */
/*
 * Fonts configuration for the whole application.
 *
 * currently used fonts:
 *      - Poppins (titles & extras)
 *      - Roboto (body)
 *      - Fira Code (code)
 *      - FontAwesome (icons)
 */
/* ------ 'Poppins' Configurations ---------------------------------- */
@font-face {
  font-family: 'Poppins Light';
  src: url('../../../fonts/Poppins/Poppins-Thin.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'Poppins';
  src: url('../../../fonts/Poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'Poppins Italic';
  src: url('../../../fonts/Poppins/Poppins-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: block;
}
@font-face {
  font-family: 'Poppins Bold';
  src: url('../../../fonts/Poppins/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'Poppins Black';
  src: url('../../../fonts/Poppins/Poppins-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: block;
}
/* ----- 'Roboto' Configurations ------------------------------------ */
@font-face {
  font-family: 'Roboto Light';
  src: url('../../../fonts/Roboto/Roboto-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'Roboto Light Italic';
  src: url('../../../fonts/Roboto/Roboto-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: block;
}
@font-face {
  font-family: 'Roboto';
  src: url('../../../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'Roboto Italic';
  src: url('../../../fonts/Roboto/Roboto-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: block;
}
@font-face {
  font-family: 'Roboto Bold';
  src: url('../../../fonts/Roboto/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'Roboto Bold Italic';
  src: url('../../../fonts/Roboto/Roboto-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: block;
}
@font-face {
  font-family: 'Roboto Black';
  src: url('../../../fonts/Roboto/Roboto-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'Roboto Black Italic';
  src: url('../../../fonts/Roboto/Roboto-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: block;
}
/* ----- 'FiraCode' Configurations ---------------------------------- */
@font-face {
  font-family: 'Fira Code Light';
  src: url('../../../fonts/FiraCode/FiraCode-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'Fira Code';
  src: url('../../../fonts/FiraCode/FiraCode-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'Fira Code Bold';
  src: url('../../../fonts/FiraCode/FiraCode-SemiBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'Fira Code Black';
  src: url('../../../fonts/FiraCode/FiraCode-Bold.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: block;
}
/* ----- 'FontAwesome' Configurations ---------------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url('../../../fonts/FontAwesome/fa-regular-400.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'FontAwesome Brands';
  src: url('../../../fonts/FontAwesome/fa-brands-400.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'FontAwesome Solid';
  src: url('../../../fonts/FontAwesome/fa-solid-900.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: block;
}
/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */

