/* ------------------------------------------------------------------------------------------------ */
/* ---- Component Style - Buttons ----------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------ */
/* ---- Global LESS Custom Properties ------------------------------------------------------------- */
/* ----- Spacings --------------------------------------------------- */
/* ----- Breakpoints ------------------------------------------------ */
/* ----- Typography ------------------------------------------------- */
/* ----- Border Radius ---------------------------------------------- */
/* ----- Color Pallet ----------------------------------------------- */
/* ----- Shadows ---------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */
/* ---- Application Color Schemes ----------------------------------------------------------------- */
/* ----- General Colors --------------------------------------------- */
/* ----- Light Color Scheme ----------------------------------------- */
/* - App Colors - */
/* - Components Colors - */
/* Buttons */
/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */
/* - Button Base Styles - */
.button {
  -fx-font-family: "Poppins Bold", "system-ui", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Ubuntu", "Bitstream Vera Sans", "Liberation Sans", "Arial", "sans-serif" !important;
  -fx-font-weight: 700 !important;
  -fx-font-size: 16px;
  -fx-padding: 0.5em 1.3em !important;
  -fx-background-radius: 16px !important;
  -fx-border-radius: 16px !important;
  -fx-cursor: hand;
}
.button:pressed {
  -fx-translate-y: 0 !important;
  -fx-scale-x: 0.985 !important;
  -fx-scale-y: 0.985 !important;
}
.button:pressed .text,
.button:pressed .glyph-icon {
  -fx-translate-y: 0 !important;
  -fx-scale-x: 1.01522842639594 !important;
  -fx-scale-y: 1.01522842639594 !important;
}
.button Text,
.button .text {
  -fx-font-family: "Poppins Bold", "system-ui", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Ubuntu", "Bitstream Vera Sans", "Liberation Sans", "Arial", "sans-serif" !important;
  -fx-font-weight: 700 !important;
  -fx-font-size: 1em !important;
  -fx-text-fill: inherit !important;
  -fx-fill: inherit !important;
  -fx-font-smoothing-type: gray !important;
}
.button .mfx-font-icon,
.button .glyph-icon {
  -fx-font-size: 1em !important;
  -fx-font-weight: inherit !important;
  -fx-text-fill: inherit !important;
  -fx-fill: inherit !important;
  -mfx-color: inherit !important;
  -fx-font-smoothing-type: gray !important;
  -mfx-size: 16px;
  -fx-stroke-width: 0 !important;
}
.button .mfx-ripple-generator,
.button .mfx-ripple-generator {
  -mfx-ripple-color: rgba(0, 0, 0, 0.2) !important;
  -mfx-ripple-radius: 16px !important;
  -mfx-ripple-radius-inset: 0 !important;
  -mfx-ripple-radius-outset: 0 !important;
  -mfx-auto-clip: true !important;
  -fx-background-radius: 16px !important;
  -fx-border-radius: 16px !important;
}
/* - Basic Button - */
.button {
  -fx-background-color: rgba(0, 0, 0, 0) !important;
  -fx-text-fill: #424a53 !important;
  -fx-fill: #424a53 !important;
  -mfx-color: #424a53 !important;
  -fx-border-color: #57606a !important;
  -fx-border-width: 1px !important;
  -fx-border-style: solid !important;
}
.button:hover,
.button:focused,
.button:focus-within {
  -fx-background-color: rgba(0, 0, 0, 0.1) !important;
  -fx-border-color: #57606a !important;
}
.button .mfx-font-icon,
.button .glyph-icon {
  -mfx-color: #424a53 !important;
}
/* - Icon Button - */
.button-icon {
  -fx-content-display: graphic-only !important;
  -fx-background-color: transparent !important;
  -fx-text-fill: #424a53 !important;
  -fx-fill: #424a53 !important;
  -mfx-color: #424a53 !important;
  -fx-border-color: transparent !important;
  -fx-border-width: 1px !important;
  -fx-border-style: solid !important;
  -fx-background-radius: 9999999px !important;
  -fx-border-radius: 9999999px !important;
  -fx-padding: 0.5em 0.6em !important;
  -fx-alignment: center !important;
  -fx-text-alignment: center !important;
}
.button-icon:hover,
.button-icon:focused,
.button-icon:focus-within {
  -fx-background-color: rgba(0, 0, 0, 0.1) !important;
  -fx-border-color: transparent !important;
}
.button-icon .mfx-font-icon,
.button-icon .glyph-icon {
  -mfx-color: #424a53 !important;
  -fx-fill: #424a53 !important;
}
.button-icon .glyph-icon {
  -fx-font-size: 1.3em !important;
  -fx-min-width: 1.5em !important;
  -fx-pref-width: 1.5em !important;
  -fx-min-height: 1.5em !important;
  -fx-pref-height: 1.5em !important;
}
/* - Primary Button - */
.button-primary {
  -fx-background-color: linear-gradient(to bottom right, #64b5f6, #2196f3, #0d47a1) !important;
  -fx-text-fill: #ffffff !important;
  -fx-fill: #ffffff !important;
  -mfx-color: #ffffff !important;
  -fx-border-color: linear-gradient(to bottom right, #64b5f6, #2196f3, #0d47a1) !important;
  -fx-border-width: 0 !important;
  -fx-border-style: solid !important;
}
.button-primary:hover,
.button-primary:focused,
.button-primary:focus-within {
  -fx-background-color: linear-gradient(to bottom right, #2196f3, #1976d2, #0d47a1) !important;
  -fx-border-color: rgba(0, 0, 0, 0) !important;
}
/* - Secondary Button - */
/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */

