/* ------------------------------------------------------------------------------------------------ */
/* ---- Component Style - Dashboard --------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------ */
/* ---- Global LESS Custom Properties ------------------------------------------------------------- */
/* ----- Spacings --------------------------------------------------- */
/* ----- Breakpoints ------------------------------------------------ */
/* ----- Typography ------------------------------------------------- */
/* ----- Border Radius ---------------------------------------------- */
/* ----- Color Pallet ----------------------------------------------- */
/* ----- Shadows ---------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */
/* ---- Application Color Schemes ----------------------------------------------------------------- */
/* ----- General Colors --------------------------------------------- */
/* ----- Light Color Scheme ----------------------------------------- */
/* - App Colors - */
/* - Components Colors - */
/* Buttons */
/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */
/* ---- Component Style - Logo -------------------------------------------------------------------- */
.logo {
  -fx-alignment: center;
  -fx-max-width: 100%;
  -fx-font-family: "Poppins Black", "system-ui", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Ubuntu", "Bitstream Vera Sans", "Liberation Sans", "Arial", "sans-serif" !important;
  -fx-font-weight: 900 !important;
  -fx-min-height: 1.8em !important;
  -fx-pef-height: 1.8em !important;
  -fx-max-height: 1.8em !important;
}
.logo .logo-wrapper {
  -fx-alignment: center;
  -fx-min-height: 1.8em !important;
  -fx-pef-height: 1.8em !important;
  -fx-max-height: 1.8em !important;
}
.logo .logo-top,
.logo .logo-bottom {
  -fx-alignment: center;
  -fx-font-family: "Poppins Black", "system-ui", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Ubuntu", "Bitstream Vera Sans", "Liberation Sans", "Arial", "sans-serif" !important;
  -fx-font-weight: 900 !important;
  -fx-min-height: 0.9em !important;
  -fx-pef-height: 0.9em !important;
  -fx-max-height: 0.9em !important;
  -fx-translate-y: -0.45em;
}
.logo .logo-top {
  -fx-fill: linear-gradient(to bottom right, #64b5f6, #2196f3, #0d47a1) !important;
  -fx-translate-y: 0.33em;
}
.logo .logo-bottom {
  -fx-fill: linear-gradient(to bottom right, #6e7781, #24292f) !important;
  -fx-translate-y: -0.33em;
}
/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */
/* ---- Component Style - Buttons ----------------------------------------------------------------- */
/* - Button Base Styles - */
.button {
  -fx-font-family: "Poppins Bold", "system-ui", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Ubuntu", "Bitstream Vera Sans", "Liberation Sans", "Arial", "sans-serif" !important;
  -fx-font-weight: 700 !important;
  -fx-font-size: 16px;
  -fx-padding: 0.5em 1.3em !important;
  -fx-background-radius: 16px !important;
  -fx-border-radius: 16px !important;
  -fx-cursor: hand;
}
.button:pressed {
  -fx-translate-y: 0 !important;
  -fx-scale-x: 0.985 !important;
  -fx-scale-y: 0.985 !important;
}
.button:pressed .text,
.button:pressed .glyph-icon {
  -fx-translate-y: 0 !important;
  -fx-scale-x: 1.01522842639594 !important;
  -fx-scale-y: 1.01522842639594 !important;
}
.button Text,
.button .text {
  -fx-font-family: "Poppins Bold", "system-ui", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Ubuntu", "Bitstream Vera Sans", "Liberation Sans", "Arial", "sans-serif" !important;
  -fx-font-weight: 700 !important;
  -fx-font-size: 1em !important;
  -fx-text-fill: inherit !important;
  -fx-fill: inherit !important;
  -fx-font-smoothing-type: gray !important;
}
.button .mfx-font-icon,
.button .glyph-icon {
  -fx-text-fill: inherit !important;
  -fx-fill: inherit !important;
  -mfx-color: inherit !important;
  -mfx-size: 16px;
  -fx-stroke-width: 0 !important;
}
.button .mfx-ripple-generator,
.button .mfx-ripple-generator {
  -mfx-ripple-color: rgba(0, 0, 0, 0.2) !important;
  -mfx-ripple-radius: 16px !important;
  -mfx-ripple-radius-inset: 0 !important;
  -mfx-ripple-radius-outset: 0 !important;
  -mfx-auto-clip: true !important;
  -fx-background-radius: 16px !important;
  -fx-border-radius: 16px !important;
}
/* - Basic Button - */
.button {
  -fx-background-color: rgba(0, 0, 0, 0) !important;
  -fx-text-fill: #424a53 !important;
  -fx-fill: #424a53 !important;
  -mfx-color: #424a53 !important;
  -fx-border-color: #57606a !important;
  -fx-border-width: 1px !important;
  -fx-border-style: solid !important;
}
.button:hover,
.button:focused,
.button:focus-within {
  -fx-background-color: rgba(0, 0, 0, 0.1) !important;
  -fx-border-color: #57606a !important;
}
.button .mfx-font-icon,
.button .glyph-icon {
  -mfx-color: #424a53 !important;
}
/* - Icon Button - */
.button-icon {
  -fx-content-display: graphic-only !important;
  -fx-background-color: transparent !important;
  -fx-text-fill: #424a53 !important;
  -fx-fill: #424a53 !important;
  -mfx-color: #424a53 !important;
  -fx-border-color: transparent !important;
  -fx-border-width: 1px !important;
  -fx-border-style: solid !important;
  -fx-background-radius: 9999999px !important;
  -fx-border-radius: 9999999px !important;
  -fx-padding: 0.5em 0.6em !important;
  -fx-alignment: center !important;
  -fx-text-alignment: center !important;
}
.button-icon:hover,
.button-icon:focused,
.button-icon:focus-within {
  -fx-background-color: rgba(0, 0, 0, 0.1) !important;
  -fx-border-color: transparent !important;
}
.button-icon .mfx-font-icon,
.button-icon .glyph-icon {
  -mfx-color: #424a53 !important;
  -fx-fill: #424a53 !important;
}
.button-icon .glyph-icon {
  -fx-font-size: 1.3em !important;
  -fx-min-width: 1.5em !important;
  -fx-pref-width: 1.5em !important;
  -fx-min-height: 1.5em !important;
  -fx-pref-height: 1.5em !important;
}
/* - Primary Button - */
.button-primary {
  -fx-background-color: linear-gradient(to bottom right, #64b5f6, #2196f3, #0d47a1) !important;
  -fx-text-fill: #ffffff !important;
  -fx-fill: #ffffff !important;
  -mfx-color: #ffffff !important;
  -fx-border-color: linear-gradient(to bottom right, #64b5f6, #2196f3, #0d47a1) !important;
  -fx-border-width: 0 !important;
  -fx-border-style: solid !important;
}
.button-primary:hover,
.button-primary:focused,
.button-primary:focus-within {
  -fx-background-color: linear-gradient(to bottom right, #2196f3, #1976d2, #0d47a1) !important;
  -fx-border-color: rgba(0, 0, 0, 0) !important;
}
/* - Secondary Button - */
/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */
.body .body-container {
  -fx-padding: 32px 8px;
}
.dashboard {
  -fx-min-height: 600px;
}
.dashboard.sheet {
  -fx-padding: 0 !important;
}
.dashboard .sheet-text {
  -fx-font-family: "Poppins", "system-ui", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Ubuntu", "Bitstream Vera Sans", "Liberation Sans", "Arial", "sans-serif" !important;
  -fx-font-weight: 400 !important;
  -fx-text-fill: #424a53 !important;
  -fx-fill: #424a53 !important;
}
.dashboard .dashboard-top {
  -fx-padding: 8px 16px;
  -fx-border-width: 0 0 1px 0;
  -fx-border-color: #eaeef2;
  -fx-border-style: solid;
}
.dashboard .dashboard-top .dashboard-logo-wrapper {
  -fx-min-width: 184px;
}
.dashboard .dashboard-top .dashboard-logo-wrapper .logo {
  -fx-font-size: 28px;
}
.dashboard .dashboard-top .dashboard-user-message {
  -fx-font-size: 16px;
  -fx-text-alignment: baseline;
}
.dashboard .dashboard-top .dashboard-user-menu {
  -fx-font-size: 16px !important;
  -fx-fill: #57606a !important;
  -fx-text-fill: #57606a !important;
  -fx-min-width: 184px;
  -fx-alignment: top-right;
}
.dashboard .dashboard-top .dashboard-user-menu .button-icon .glyph-icon {
  -fx-font-size: 20px !important;
  -fx-fill: #57606a !important;
  -fx-text-fill: #57606a !important;
  -fx-padding: 0 !important;
}
.dashboard .dashboard-top .dashboard-user-menu MenuButton.button-icon:openvertically .arrow-button {
  -fx-visible: false;
  -fx-disabled: true;
  -fx-opacity: 0;
  -fx-padding: 0 !important;
  -fx-max-width: 0 !important;
}
.dashboard .dashboard-left {
  -fx-padding: 20px 16px;
  -fx-min-width: 200px;
  -fx-max-width: 200px;
  -fx-border-width: 0 1px 0 0;
  -fx-border-color: #eaeef2;
  -fx-border-style: solid;
}
.dashboard .dashboard-left .dashboard-menu-title {
  -fx-font-family: "Poppins Bold", "system-ui", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Ubuntu", "Bitstream Vera Sans", "Liberation Sans", "Arial", "sans-serif" !important;
  -fx-font-weight: 700 !important;
  -fx-font-size: 14px;
  -fx-padding: 0 0 14px 0;
}
.dashboard .dashboard-left .dashboard-menu-title Text {
  -fx-text-fill: #afb8c1 !important;
  -fx-fill: #afb8c1 !important;
}
.dashboard .dashboard-left .dashboard-menu-button {
  -fx-min-width: 168px;
  -fx-border-radius: 4px !important;
  -fx-background-radius: 4px !important;
  -fx-border-width: 0 !important;
  -fx-border-color: transparent !important;
  -fx-alignment: center-left;
  -fx-text-alignment: left;
  -fx-font-size: 14px;
  -fx-font-family: "Poppins", "system-ui", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Ubuntu", "Bitstream Vera Sans", "Liberation Sans", "Arial", "sans-serif" !important;
  -fx-font-weight: 400 !important;
}
.dashboard .dashboard-left .dashboard-menu-button.active {
  -fx-background-color: #8c959f !important;
  -fx-text-fill: #ffffff !important;
  -fx-fill: #ffffff !important;
}
/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */

