/* ------------------------------------------------------------------------------------------------ */
/* ---- Component Style - Sheet ------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------ */
/* ---- Global LESS Custom Properties ------------------------------------------------------------- */
/* ----- Spacings --------------------------------------------------- */
/* ----- Breakpoints ------------------------------------------------ */
/* ----- Typography ------------------------------------------------- */
/* ----- Border Radius ---------------------------------------------- */
/* ----- Color Pallet ----------------------------------------------- */
/* ----- Shadows ---------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */
/* ---- Application Color Schemes ----------------------------------------------------------------- */
/* ----- General Colors --------------------------------------------- */
/* ----- Light Color Scheme ----------------------------------------- */
/* - App Colors - */
/* - Components Colors - */
/* Buttons */
/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */
.sheet {
  -fx-background-color: #ffffff !important;
  -fx-border-color: #eaeef2 !important;
  -fx-border-width: 1px !important;
  -fx-border-style: solid !important;
  -fx-text-fill: #424a53 !important;
  -fx-fill: #424a53 !important;
  -fx-background-radius: 16px !important;
  -fx-border-radius: 16px !important;
  -fx-padding: 20px !important;
}
.sheet .sheet-text {
  -fx-font-family: "Poppins", "system-ui", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Ubuntu", "Bitstream Vera Sans", "Liberation Sans", "Arial", "sans-serif";
}
.sheet .table {
  -fx-background-color: #ffffff !important;
  -fx-border-color: #eaeef2 !important;
  -fx-border-width: 1px !important;
  -fx-border-style: solid !important;
  -fx-background-radius: 8px !important;
  -fx-border-radius: 8px !important;
  -mfx-auto-clip: true !important;
}
/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */

