.p-2xs {
  -fx-padding: 4px;
}
.p-xs {
  -fx-padding: 8px;
}
.p-sm {
  -fx-padding: 14px;
}
.p-md {
  -fx-padding: 16px;
}
.p-lg {
  -fx-padding: 20px;
}
.p-xl {
  -fx-padding: 24px;
}
.p-2xl {
  -fx-padding: 32px;
}
.m-2xs {
  -fx-margin: 4px;
}
.button-with-margin {
  -fx-padding: 5px;
  -fx-border-insets: 5px;
  -fx-background-insets: 5px;
}

