/* ------------------------------------------------------------------------------------------------ */
/* ---- Global Utility Classes -------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------ */
/* ---- Global LESS Custom Properties ------------------------------------------------------------- */
/* ----- Spacings --------------------------------------------------- */
/* ----- Breakpoints ------------------------------------------------ */
/* ----- Typography ------------------------------------------------- */
/* ----- Border Radius ---------------------------------------------- */
/* ----- Color Pallet ----------------------------------------------- */
/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */
/* ---- Application Color Schemes ----------------------------------------------------------------- */
/* ----- Color Schemes ---------------------------------------------- */
/* ----- App Base Colors ------------------- */
/* ----- Components Colors - Light --------- */
/* Root */
/* Body */
/* Tooltips */
/* Logo */
/* Sheet */
/* Buttons */
/* Inputs Fields */
/* ----- Components Colors - Dark ---------- */
/* Root */
/* Body */
/* Tooltips */
/* Logo */
/* Sheet */
/* Buttons */
/* Inputs Fields */
/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */
/* ---- Text ------------------------------- */
/* Text Colors */
.theme-light .text-primary {
  -fx-text-fill: #2196f3 !important;
  -fx-fill: #2196f3 !important;
}
.theme-dark .text-primary {
  -fx-text-fill: #1976d2 !important;
  -fx-fill: #1976d2 !important;
}
.theme-light .text-success {
  -fx-text-fill: #4caf50 !important;
  -fx-fill: #4caf50 !important;
}
.theme-dark .text-success {
  -fx-text-fill: #388e3c !important;
  -fx-fill: #388e3c !important;
}
.theme-light .text-warning {
  -fx-text-fill: #ff9800 !important;
  -fx-fill: #ff9800 !important;
}
.theme-dark .text-warning {
  -fx-text-fill: #f57c00 !important;
  -fx-fill: #f57c00 !important;
}
.theme-light .text-danger {
  -fx-text-fill: #f44336 !important;
  -fx-fill: #f44336 !important;
}
.theme-dark .text-danger {
  -fx-text-fill: #d32f2f !important;
  -fx-fill: #d32f2f !important;
}
/* Text Sizes */
.fs-xs {
  -fx-font-size: 12px !important;
}
.fs-sm {
  -fx-font-size: 14px !important;
}
.fs-md {
  -fx-font-size: 16px !important;
}
.fs-lg {
  -fx-font-size: 20px !important;
}
.fs-xl {
  -fx-font-size: 28px !important;
}
.fs-2xl {
  -fx-font-size: 40px !important;
}
.fs-3xl {
  -fx-font-size: 54px !important;
}
.fs-4xl {
  -fx-font-size: 70px !important;
}
.fs-5xl {
  -fx-font-size: 88px !important;
}
/* ---- Padding & Margin ------------------- */
.p-2xs {
  -fx-padding: 4px;
}
.p-xs {
  -fx-padding: 8px;
}
.p-sm {
  -fx-padding: 14px;
}
.p-md {
  -fx-padding: 16px;
}
.p-lg {
  -fx-padding: 20px;
}
.p-xl {
  -fx-padding: 24px;
}
.p-2xl {
  -fx-padding: 32px;
}
.m-2xs {
  -fx-margin: 4px;
}
.button-with-margin {
  -fx-padding: 5px;
  -fx-border-insets: 5px;
  -fx-background-insets: 5px;
}
/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */

