/* ------------------------------------------------------------------------------------------------ */
/* ---- Component Style - Sheet ------------------------------------------------------------------- */

@import "../config/CustomProperties.less";
@import "../config/ColorSchemes.less";

@sheet-radius: @radius-lg;
@sheet-padding: @spacing-lg;

.sheet {
    -fx-background-color: @sheet-bg-color !important;
    -fx-border-color: @sheet-border-color !important;
    -fx-border-width: 1px !important;
    -fx-border-style: solid !important;

    -fx-text-fill: @sheet-text-color !important;
    -fx-fill: @sheet-text-color !important;

    -fx-background-radius: @sheet-radius !important;
    -fx-border-radius: @sheet-radius !important;

    -fx-padding: @sheet-padding !important;

    .sheet-text {
        -fx-font-family: @font-family-body-normal;
    }

    .table {
        -fx-background-color: @sheet-bg-color !important;
        -fx-border-color: @sheet-border-color !important;
        -fx-border-width: 1px !important;
        -fx-border-style: solid !important;
        -fx-background-radius: @radius-md !important;
        -fx-border-radius: @radius-md !important;
        -mfx-auto-clip: true !important;
    }
}

/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */