/* ------------------------------------------------------------------------------------------------ */
/* ---- Global MaterialFX Custom Styles ----------------------------------------------------------- */

@import "./CustomProperties.less";
@import "./ColorSchemes.less";


* {
    -mfx-blue: @blue-5 !important;
    -mfx-charcoal: @gray-8 !important;
    -mfx-green: @green-5 !important;
    -mfx-onyx: @dark-base-6 !important;
    -mfx-orange: @orange-5 !important;
    -mfx-purple: @primary !important;
    -mfx-red: @red-5 !important;
    -mfx-yellow: @yellow-5 !important;

    -mfx-text-he: @sheet-text-color-emp !important; /* High Emphasis */
    -mfx-text-me: @sheet-text-color-dim !important; /* Medium Emphasis */
    -mfx-text-disabled: @sheet-text-color-disabled !important; /* Disabled */
}

.mfx-text-field,
.mfx-password-field {
    -fx-background-radius: @radius-base !important;
    -fx-border-radius: @radius-base !important;

    -fx-padding: 0.4em 0.8em !important;

    //&:floating .floating-text {
    //    -fx-padding: 0 !important;
    //    -fx-translate-x: -0.8em !important;
    //}
}

.mfx-text-field .floating-text,
.mfx-password-field .floating-text {
    -fx-padding: 0 2 0 2;
}

.mfx-password-field .mfx-icon-wrapper {
    -fx-cursor: hand;
}


.mfx-checkbox {
    -mfx-main: @primary-5 !important;
    -mfx-secondary: @sheet-text-color-dim !important;
    -fx-font-family: @font-family-body-normal !important;
    -fx-text-fill: @sheet-text-color !important;
    -fx-cursor: hand !important;

    .box {

        .mark {
            -mfx-color: white;
        }
    }

    .ripple-container .mfx-ripple-generator {
        -mfx-ripple-color: @button-ripple-color;
    }

    &:selected .box,
    &:indeterminate .box {
        -fx-background-color: -mfx-main;
        -fx-border-color: -mfx-main;
    }

    &:selected:disabled .box,
    &:indeterminate:disabled .box {
        -fx-background-color: @sheet-text-color-disabled;
        -fx-border-color: @sheet-text-color-disabled;
    }
}



/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */