/* ------------------------------------------------------------------------------------------------ */
/* ---- Component Style - Sheet ------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------ */
/* ---- Global LESS Custom Properties ------------------------------------------------------------- */
/* ----- Spacings --------------------------------------------------- */
/* ----- Breakpoints ------------------------------------------------ */
/* ----- Typography ------------------------------------------------- */
/* ----- Border Radius ---------------------------------------------- */
/* ----- Color Pallet ----------------------------------------------- */
/* ----- Shadows ---------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */
/* ---- Application Color Schemes ----------------------------------------------------------------- */
/* ----- General Colors --------------------------------------------- */
/* ----- Light Color Scheme ----------------------------------------- */
/* - App Colors - */
/* - Components Colors - */
/* Buttons */
/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */
/* ---- Component Style - Sheet ------------------------------------------------------------------- */
.sheet {
  -fx-background-color: #ffffff !important;
  -fx-border-color: #eaeef2 !important;
  -fx-border-width: 1px !important;
  -fx-border-style: solid !important;
  -fx-text-fill: #424a53 !important;
  -fx-fill: #424a53 !important;
  -fx-background-radius: 16px !important;
  -fx-border-radius: 16px !important;
  -fx-padding: 20px !important;
}
.sheet .sheet-text {
  -fx-font-family: "Poppins", "system-ui", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Ubuntu", "Bitstream Vera Sans", "Liberation Sans", "Arial", "sans-serif";
}
.sheet .table {
  -fx-background-color: #ffffff !important;
  -fx-border-color: #eaeef2 !important;
  -fx-border-width: 1px !important;
  -fx-border-style: solid !important;
  -fx-background-radius: 8px !important;
  -fx-border-radius: 8px !important;
  -mfx-auto-clip: true !important;
}
/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */
.dialog-root {
  -fx-background-color: rgba(18, 28, 42, 0.5) !important;
  -fx-padding: 64px;
}
.dialog-root .dialog ScrollPane,
.dialog-root .dialog MFXScrollPane,
.dialog-root .dialog .dialog-content-scroll.mfx-scroll-pane,
.dialog-root .dialog .dialog-content-scroll:fitToWidth:fitToHeight {
  -fx-background-color: #ffffff !important;
}
.dialog-root .dialog .dialog-content-scroll:fitToWidth:fitToHeight .viewport {
  -fx-background-color: #ffffff !important;
}
.dialog-root .dialog #dialogContent {
  -fx-background-color: #ffffff !important;
}
.dialog {
  -fx-max-width: 768px !important;
  -fx-pref-width: 576px !important;
  -fx-padding: 16px !important;
  -fx-background-color: #ffffff !important;
  -fx-background-radius: 16px !important;
  -fx-border-radius: 16px !important;
  -fx-border-color: #eaeef2 !important;
  -fx-border-width: 1px !important;
  -fx-border-style: solid !important;
  -fx-text-fill: #424a53 !important;
  -fx-fill: #424a53 !important;
}
.dialog .mfx-icon-wrapper {
  -fx-cursor: hand !important;
}
.dialog .mfx-font-icon {
  -fx-cursor: hand !important;
  -fx-fill: #424a53 !important;
  -fx-text-fill: #424a53 !important;
}
.dialog Text {
  -fx-text-fill: #424a53 !important;
  -fx-fill: #424a53 !important;
  -fx-font-family: "Poppins", "system-ui", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Ubuntu", "Bitstream Vera Sans", "Liberation Sans", "Arial", "sans-serif" !important;
}
.dialog .header-label .text {
  -fx-fill: #424a53 !important;
  -fx-text-fill: #424a53 !important;
  -fx-font-size: 20px !important;
  -fx-font-family: "Poppins Bold", "system-ui", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Ubuntu", "Bitstream Vera Sans", "Liberation Sans", "Arial", "sans-serif" !important;
  -fx-font-weight: 700 !important;
}
.dialog .dialog-content {
  -fx-padding: 8px 0 0 0 !important;
}
.dialog .dialog-content Text {
  -fx-font-size: 14px !important;
}
.dialog .dialog-action {
  -fx-spacing: 16px !important;
  -fx-alignment: center-right !important;
}
.dialog.dialog-w-xs {
  -fx-max-width: 360px !important;
  -fx-pref-width: 360px !important;
}
.dialog.dialog-w-sm {
  -fx-max-width: 576px !important;
  -fx-pref-width: 576px !important;
}
.dialog.dialog-w-md {
  -fx-max-width: 768px !important;
  -fx-pref-width: 768px !important;
}
.dialog.dialog-w-lg {
  -fx-max-width: 1024px !important;
  -fx-pref-width: 1024px !important;
}
.dialog.dialog-w-xl {
  -fx-max-width: 1440px !important;
  -fx-pref-width: 1440px !important;
}
.dialog-form {
  -fx-background-color: #ffffff !important;
}
/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */

