/* ------------------------------------------------------------------------------------------------ */
/* ---- Component Style - Loader ------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */
/* ---- Global LESS Custom Properties ------------------------------------------------------------- */
/* ----- Spacings --------------------------------------------------- */
/* ----- Breakpoints ------------------------------------------------ */
/* ----- Typography ------------------------------------------------- */
/* ----- Border Radius ---------------------------------------------- */
/* ----- Color Pallet ----------------------------------------------- */
/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */
/* ---- Application Color Schemes ----------------------------------------------------------------- */
/* ----- Color Schemes ---------------------------------------------- */
/* ----- App Base Colors ------------------- */
/* ----- Components Colors - Light --------- */
/* Root */
/* Body */
/* Tooltips */
/* Logo */
/* Sheet */
/* Buttons */
/* Inputs Fields */
/* ----- Components Colors - Dark ---------- */
/* Root */
/* Body */
/* Tooltips */
/* Logo */
/* Sheet */
/* Buttons */
/* Inputs Fields */
/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */
.loader-root {
  -fx-padding: 64px;
}
.loader-root .loader-spinner .track,
.loader-root .loader-spinner .arc {
  -fx-stroke-width: 8px !important;
  -fx-stroke-line-cap: round !important;
}
.loader-root #loaderSpinner {
  -mfx-color1: #42a5f5 !important;
  -mfx-color2: #2196f3 !important;
  -mfx-color3: #1e88e5 !important;
  -mfx-color4: #2196f3 !important;
}
.theme-light .loader-root {
  -fx-background-color: rgba(255, 255, 255, 0.7) !important;
}
.theme-dark .loader-root {
  -fx-background-color: rgba(20, 21, 23, 0.9) !important;
}
/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */

