/* ------------------------------------------------------------------------------------------------ */
/* ---- Global Component Style - Root (Every Page Scene Base Control) ----------------------------- */
/* ------------------------------------------------------------------------------------------------ */
/* ---- Global LESS Custom Properties ------------------------------------------------------------- */
/* ----- Spacings --------------------------------------------------- */
/* ----- Breakpoints ------------------------------------------------ */
/* ----- Typography ------------------------------------------------- */
/* ----- Border Radius ---------------------------------------------- */
/* ----- Color Pallet ----------------------------------------------- */
/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */
/* ---- Application Color Schemes ----------------------------------------------------------------- */
/* ----- Color Schemes ---------------------------------------------- */
/* ----- App Base Colors ------------------- */
/* ----- Components Colors - Light --------- */
/* Root */
/* Body */
/* Tooltips */
/* Logo */
/* Sheet */
/* Buttons */
/* Inputs Fields */
/* ----- Components Colors - Dark ---------- */
/* Root */
/* Body */
/* Tooltips */
/* Logo */
/* Sheet */
/* Buttons */
/* Inputs Fields */
/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */
#root.theme-light {
  -track-color: #afb8c1 !important;
  -thumb-color: #6e7781 !important;
  -thumb-hover-color: #424a53 !important;
  -fx-accent: #2196f3;
  -fx-focus-color: #2196f3;
  -fx-base: #d0d7de;
  -fx-control-inner-background: derive(-fx-base, 55%);
  -fx-control-inner-background-alt: -fx-control-inner-background;
  -fx-background-color: #f6f8fa;
}
#root.theme-light .root-scroll {
  -fx-background-color: #f6f8fa !important;
}
#root.theme-light .root-scroll:focused {
  -fx-background-color: #f6f8fa !important;
}
#root.theme-light .root-scroll .vBar:vertical,
#root.theme-light .root-scroll .hBar:horizontal {
  -fx-background-color: #f6f8fa !important;
}
#root.theme-light .root-scroll .vBar:vertical .track,
#root.theme-light .root-scroll .hBar:horizontal .track {
  -fx-background-color: #afb8c1 !important;
}
#root.theme-light .root-scroll .vBar:vertical .thumb,
#root.theme-light .root-scroll .hBar:horizontal .thumb {
  -fx-background-color: #6e7781 !important;
}
#root.theme-light .root-scroll .vBar:vertical .thumb:hover,
#root.theme-light .root-scroll .hBar:horizontal .thumb:hover {
  -fx-background-color: #424a53 !important;
}
#root.theme-dark {
  -track-color: #101113 !important;
  -thumb-color: #373a40 !important;
  -thumb-hover-color: #5c5f66 !important;
  -fx-accent: #2196f3;
  -fx-focus-color: #2196f3;
  -fx-base: #1a1b1e;
  -fx-control-inner-background: derive(-fx-base, 35%);
  -fx-control-inner-background-alt: -fx-control-inner-background;
  -fx-background-color: #1a1b1e;
}
#root.theme-dark .root-scroll {
  -fx-background-color: #1a1b1e !important;
}
#root.theme-dark .root-scroll:focused {
  -fx-background-color: #1a1b1e !important;
}
#root.theme-dark .root-scroll .vBar:vertical,
#root.theme-dark .root-scroll .hBar:horizontal {
  -fx-background-color: #1a1b1e !important;
}
#root.theme-dark .root-scroll .vBar:vertical .track,
#root.theme-dark .root-scroll .hBar:horizontal .track {
  -fx-background-color: #101113 !important;
}
#root.theme-dark .root-scroll .vBar:vertical .thumb,
#root.theme-dark .root-scroll .hBar:horizontal .thumb {
  -fx-background-color: #373a40 !important;
}
#root.theme-dark .root-scroll .vBar:vertical .thumb:hover,
#root.theme-dark .root-scroll .hBar:horizontal .thumb:hover {
  -fx-background-color: #5c5f66 !important;
}
/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */

