/* ------------------------------------------------------------------------------------------------ */
/* ---- Index (Application Main Page) Page Styles ------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------ */
/* ---- Global Styles Configurations - Barrel ----------------------------------------------------- */
/*
 * This file is the barrel for all the application global styles configurations.
 * This file is meant to be imported in any LESS file that style a page or a component through the "GlobalStyles" file.
 *
 * currently used configurations:
 *      - Typography (all the fonts configurations)
 *      - Custom Properties (all the LESS variables)
 *      - ColorSchemes (all the colors configurations structured via themes)
 *      - MaterialFX Resets (all the MaterialFX library style resets)
 */
/* ------------------------------------------------------------------------------------------------ */
/* ---- Global CSS Typography --------------------------------------------------------------------- */
/*
 * Fonts configuration for the whole application.
 *
 * currently used fonts:
 *      - Poppins (titles & extras)
 *      - Roboto (body)
 *      - Fira Code (code)
 *      - FontAwesome (icons)
 */
/* ------ 'Poppins' Configurations ---------------------------------- */
@font-face {
  font-family: 'Poppins Light';
  src: url('../../../fonts/Poppins/Poppins-Thin.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'Poppins';
  src: url('../../../fonts/Poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'Poppins Italic';
  src: url('../../../fonts/Poppins/Poppins-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: block;
}
@font-face {
  font-family: 'Poppins Bold';
  src: url('../../../fonts/Poppins/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'Poppins Black';
  src: url('../../../fonts/Poppins/Poppins-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: block;
}
/* ----- 'Roboto' Configurations ------------------------------------ */
@font-face {
  font-family: 'Roboto Light';
  src: url('../../../fonts/Roboto/Roboto-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'Roboto Light Italic';
  src: url('../../../fonts/Roboto/Roboto-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: block;
}
@font-face {
  font-family: 'Roboto';
  src: url('../../../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'Roboto Italic';
  src: url('../../../fonts/Roboto/Roboto-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: block;
}
@font-face {
  font-family: 'Roboto Bold';
  src: url('../../../fonts/Roboto/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'Roboto Bold Italic';
  src: url('../../../fonts/Roboto/Roboto-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: block;
}
@font-face {
  font-family: 'Roboto Black';
  src: url('../../../fonts/Roboto/Roboto-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'Roboto Black Italic';
  src: url('../../../fonts/Roboto/Roboto-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: block;
}
/* ----- 'FiraCode' Configurations ---------------------------------- */
@font-face {
  font-family: 'Fira Code Light';
  src: url('../../../fonts/FiraCode/FiraCode-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'Fira Code';
  src: url('../../../fonts/FiraCode/FiraCode-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'Fira Code Bold';
  src: url('../../../fonts/FiraCode/FiraCode-SemiBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'Fira Code Black';
  src: url('../../../fonts/FiraCode/FiraCode-Bold.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: block;
}
/* ----- 'FontAwesome' Configurations ---------------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url('../../../fonts/FontAwesome/fa-regular-400.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'FontAwesome Brands';
  src: url('../../../fonts/FontAwesome/fa-brands-400.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'FontAwesome Solid';
  src: url('../../../fonts/FontAwesome/fa-solid-900.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: block;
}
/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */
/* ---- Global LESS Custom Properties ------------------------------------------------------------- */
/* ----- Spacings --------------------------------------------------- */
/* ----- Breakpoints ------------------------------------------------ */
/* ----- Typography ------------------------------------------------- */
/* ----- Border Radius ---------------------------------------------- */
/* ----- Color Pallet ----------------------------------------------- */
/* ----- Shadows ---------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */
/* ---- Application Color Schemes ----------------------------------------------------------------- */
/* ----- General Colors --------------------------------------------- */
/* ----- Light Color Scheme ----------------------------------------- */
/* - App Colors - */
/* - Components Colors - */
/* Buttons */
/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */
/* ---- Global MaterialFX Custom Styles ----------------------------------------------------------- */
* {
  -mfx-blue: #2196f3 !important;
  -mfx-charcoal: #32383f !important;
  -mfx-green: #4caf50 !important;
  -mfx-onyx: #25262b !important;
  -mfx-orange: #ff9800 !important;
  -mfx-purple: #2196f3 !important;
  -mfx-red: #f44336 !important;
  -mfx-yellow: #ffeb3b !important;
  -mfx-text-he: #32383f !important;
  /* High Emphasis */
  -mfx-text-me: #57606a !important;
  /* Medium Emphasis */
  -mfx-text-disabled: #afb8c1 !important;
  /* Disabled */
}
.mfx-text-field,
.mfx-password-field {
  -fx-background-radius: 16px !important;
  -fx-border-radius: 16px !important;
  -fx-padding: 0.4em 0.8em !important;
}
.mfx-text-field .floating-text,
.mfx-password-field .floating-text {
  -fx-padding: 0 2 0 2;
}
.mfx-password-field .mfx-icon-wrapper {
  -fx-cursor: hand;
}
.mfx-checkbox {
  -mfx-main: #2196f3 !important;
  -mfx-secondary: #57606a !important;
  -fx-font-family: 'Poppins', system-ui, -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Ubuntu', 'Bitstream Vera Sans', 'Liberation Sans', Arial, sans-serif !important;
  -fx-text-fill: #424a53 !important;
  -fx-cursor: hand !important;
}
.mfx-checkbox .box .mark {
  -mfx-color: white;
}
.mfx-checkbox .ripple-container .mfx-ripple-generator {
  -mfx-ripple-color: rgba(0, 0, 0, 0.2);
}
.mfx-checkbox:selected .box,
.mfx-checkbox:indeterminate .box {
  -fx-background-color: -mfx-main;
  -fx-border-color: -mfx-main;
}
.mfx-checkbox:selected:disabled .box,
.mfx-checkbox:indeterminate:disabled .box {
  -fx-background-color: #afb8c1;
  -fx-border-color: #afb8c1;
}
/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */
/* ---- Component Style - Logo -------------------------------------------------------------------- */
.logo {
  -fx-alignment: center;
  -fx-max-width: 100%;
  -fx-font-family: 'Poppins Black', system-ui, -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Ubuntu', 'Bitstream Vera Sans', 'Liberation Sans', Arial, sans-serif !important;
  -fx-font-weight: 900 !important;
  -fx-min-height: 1.8em !important;
  -fx-pef-height: 1.8em !important;
  -fx-max-height: 1.8em !important;
}
.logo .logo-wrapper {
  -fx-alignment: center;
  -fx-min-height: 1.8em !important;
  -fx-pef-height: 1.8em !important;
  -fx-max-height: 1.8em !important;
}
.logo .logo-top,
.logo .logo-bottom {
  -fx-alignment: center;
  -fx-font-family: 'Poppins Black', system-ui, -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Ubuntu', 'Bitstream Vera Sans', 'Liberation Sans', Arial, sans-serif !important;
  -fx-font-weight: 900 !important;
  -fx-min-height: 0.9em !important;
  -fx-pef-height: 0.9em !important;
  -fx-max-height: 0.9em !important;
  -fx-translate-y: -0.45em;
}
.logo .logo-top {
  -fx-fill: linear-gradient(to bottom right, #64b5f6, #2196f3, #0d47a1) !important;
  -fx-translate-y: 0.33em;
}
.logo .logo-bottom {
  -fx-fill: linear-gradient(to bottom right, #6e7781, #24292f) !important;
  -fx-translate-y: -0.33em;
}
/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */
/* ---- Component Style - Buttons ----------------------------------------------------------------- */
/* - Button Base Styles - */
.button {
  -fx-font-family: 'Poppins Bold', system-ui, -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Ubuntu', 'Bitstream Vera Sans', 'Liberation Sans', Arial, sans-serif !important;
  -fx-font-weight: 700 !important;
  -fx-font-size: 16px;
  -fx-padding: 0.5em 1.3em !important;
  -fx-background-radius: 16px !important;
  -fx-border-radius: 16px !important;
  -fx-cursor: hand;
}
.button:hover,
.button:focused,
.button:focus-within {
  -fx-translate-y: -1px !important;
}
.button:pressed {
  -fx-translate-y: 0 !important;
  -fx-scale-shape: 0.985 !important;
  -fx-scale-x: 0.985 !important;
  -fx-scale-y: 0.985 !important;
}
.button:pressed .text,
.button:pressed .glyph-icon {
  -fx-translate-y: 0 !important;
  -fx-scale-shape: 1.01522842639594 !important;
  -fx-scale-x: 1.01522842639594 !important;
  -fx-scale-y: 1.01522842639594 !important;
}
.button Text,
.button .text {
  -fx-font-family: 'Poppins Bold', system-ui, -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Ubuntu', 'Bitstream Vera Sans', 'Liberation Sans', Arial, sans-serif !important;
  -fx-font-weight: 700 !important;
  -fx-font-size: 1em !important;
  -fx-text-fill: inherit !important;
  -fx-fill: inherit !important;
  -fx-font-smoothing-type: black !important;
}
.button .mfx-font-icon,
.button .glyph-icon {
  -fx-font-size: 1em !important;
  -fx-font-weight: inherit !important;
  -fx-text-fill: inherit !important;
  -fx-fill: inherit !important;
  -mfx-color: inherit !important;
  -fx-font-smoothing-type: black !important;
  -mfx-size: 16px;
  -fx-stroke-width: 0 !important;
}
.button .mfx-ripple-generator,
.button .mfx-ripple-generator {
  -mfx-ripple-color: rgba(0, 0, 0, 0.2) !important;
  -mfx-ripple-radius: 16px !important;
  -mfx-ripple-radius-inset: 0 !important;
  -mfx-ripple-radius-outset: 0 !important;
  -mfx-auto-clip: true !important;
  -fx-background-radius: 16px !important;
  -fx-border-radius: 16px !important;
}
/* - Basic Button - */
.button {
  -fx-background-color: rgba(0, 0, 0, 0) !important;
  -fx-text-fill: #424a53 !important;
  -fx-fill: #424a53 !important;
  -mfx-color: #424a53 !important;
  -fx-border-color: #57606a !important;
  -fx-border-width: 1px !important;
  -fx-border-style: solid !important;
}
.button:hover,
.button:focused,
.button:focus-within {
  -fx-background-color: rgba(0, 0, 0, 0.1) !important;
  -fx-border-color: #57606a !important;
}
.button .mfx-font-icon,
.button .glyph-icon {
  -mfx-color: #424a53 !important;
}
/* - Icon Button - */
.button-icon {
  -fx-content-display: graphic-only !important;
  -fx-background-color: transparent !important;
  -fx-text-fill: #424a53 !important;
  -fx-fill: #424a53 !important;
  -mfx-color: #424a53 !important;
  -fx-border-color: transparent !important;
  -fx-border-width: 1px !important;
  -fx-border-style: solid !important;
  -fx-background-radius: 9999999px !important;
  -fx-border-radius: 9999999px !important;
  -fx-padding: 0.5em 0.6em !important;
  -fx-alignment: center !important;
  -fx-text-alignment: center !important;
}
.button-icon:hover,
.button-icon:focused,
.button-icon:focus-within {
  -fx-background-color: rgba(0, 0, 0, 0.1) !important;
  -fx-border-color: transparent !important;
}
.button-icon .mfx-font-icon,
.button-icon .glyph-icon {
  -mfx-color: #424a53 !important;
  -fx-fill: #424a53 !important;
}
.button-icon .glyph-icon {
  -fx-font-size: 1.3em !important;
  -fx-min-width: 1.5em !important;
  -fx-pref-width: 1.5em !important;
  -fx-min-height: 1.5em !important;
  -fx-pref-height: 1.5em !important;
}
/* - Primary Button - */
.button-primary {
  -fx-background-color: linear-gradient(to bottom right, #64b5f6, #2196f3, #0d47a1) !important;
  -fx-text-fill: #ffffff !important;
  -fx-fill: #ffffff !important;
  -mfx-color: #ffffff !important;
  -fx-border-color: linear-gradient(to bottom right, #64b5f6, #2196f3, #0d47a1) !important;
  -fx-border-width: 0 !important;
  -fx-border-style: solid !important;
}
.button-primary:hover,
.button-primary:focused,
.button-primary:focus-within {
  -fx-background-color: linear-gradient(to bottom right, #2196f3, #1976d2, #0d47a1) !important;
  -fx-border-color: rgba(0, 0, 0, 0) !important;
}
/* - Secondary Button - */
/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */
.root .body .logo {
  -fx-font-size: 88px;
}
.root .body .main-text {
  -fx-min-width: 300px;
  -fx-pref-width: 300px;
  -fx-max-width: 300px;
  -fx-alignment: center;
  -fx-text-alignment: center;
  -fx-font-family: 'Poppins', system-ui, -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Ubuntu', 'Bitstream Vera Sans', 'Liberation Sans', Arial, sans-serif;
  -fx-font-weight: 400;
  -fx-font-size: 16px;
}
.root .body .button {
  -fx-min-width: 250px;
  -fx-font-size: 20px;
}
/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */

