/* ------------------------------------------------------------------------------------------------ */
/* ---- PC Application Guest Main Page - Sub Pages Styles ----------------------------------------- */

@import "../config/Config.less";

@import "../components/Sheet.less";
@import "../components/Button.less";
@import "../components/Dashboard.less";


@form-width: 300px;

.sub-page-body {
    -fx-background-radius: @sheet-radius;
    -fx-border-radius: @sheet-radius;
    -fx-background-color: @body-bg-color;
    -fx-padding: 0 0 0 @spacing-md;

    .sub-page-title {
        -fx-font-family: @font-family-titles-bold;
        -fx-font-weight: @font-weight-bold;

        -fx-font-size: @font-size-2xl;
        -fx-text-fill: @sheet-text-color;
        -fx-fill: @sheet-text-color;

        &.FontAwesomeIconView {
            -fx-font-size: @font-size-2xl;
        }
    }

    .sheet-text {
        -fx-font-size: @font-size-md;
        -fx-text-fill: @sheet-text-color;
        -fx-fill: @sheet-text-color;
    }

    .form {
        -fx-min-width: @form-width;
        -fx-max-width: @form-width;

        .mfx-text-field {
            -fx-min-width: @form-width;
            -fx-max-width: @form-width;
            -fx-font-size: @font-size-md;
        }
        #departureHour,
        #departureMinute {
            -fx-min-width: (@form-width / 2) - 8;
            -fx-max-width: (@form-width / 2) - 8;
        }
        .button {
            -fx-font-size: @font-size-md;
        }
    }
}


/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */